/[Ss]nek/[Ll]ibrary/
/[Ss]nek/[Tt]emp/
/[Ss]nek/[Oo]bj/
/[Ss]nek/[Bb]uild/
/[Ss]nek/[Bb]uilds/
/[Ss]nek/[Ll]ogs/
/[Ss]nek/[Aa]ssets/AssetStoreTools*

!/[Ss]nek/[Aa]ssets/**/*.meta

.vs/

/[Ss]nek/ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

*.pidb.meta
*.pdb.meta
*.mdb.meta

sysinfo.txt

*.apk
*.unitypackage

crashlytics-build.properties